<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="my_robot">

  <!-- Xacro Properties -->
  <xacro:property name="mesh_file" value="package://my_bot/description/meshes/ATV.dae"/> 
  <xacro:property name="mesh_scale" value="1 1 1"/>
  <xacro:property name="collision_box_size" value="0.4 0.3 0.2"/>
  <xacro:property name="mass_kg" value="5.0"/>
  <xacro:property name="ixx" value="0.2"/>
  <xacro:property name="iyy" value="0.2"/>
  <xacro:property name="izz" value="0.2"/>





   




  

  <!--REMOVE WHEN USING SLAM/NAVIGATION-->
  <!-- Add a world link to anchor the robot -->
  <link name="world"/>

  <!-- Fixed joint from world to base_link -->
  <joint name="base_fixed_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>



